.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  color: grey;
  transition: all 0.3s ease-in-out;
  height: 40px;
  line-height: 40px;
  user-select: none;
  transform-origin: center;
}

.active {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px var(--menuItemShadow), 0 0 10px var(--menuItemShadow),
    0 0 15px var(--menuItemShadow), 0 0 20px var(--menuItemShadow),
    0 0 25px var(--menuItemShadow), 0 0 30px var(--menuItemShadow),
    0 0 35px var(--menuItemShadow);
}

.button.notActive:hover {
  color: var(--buttonHover);
}
