.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  color: grey;
  transition: all 0.3s ease, transform 0.5s ease-in-out;
  transform-origin: center;
}

.active {
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 5px var(--headerTextShadow), 0 0 10px var(--headerTextShadow),
    0 0 15px var(--headerTextShadow), 0 0 20px var(--headerTextShadow),
    0 0 25px var(--headerTextShadow), 0 0 30px var(--headerTextShadow),
    0 0 35px var(--headerTextShadow);
}

.button.notActive:hover {
  color: var(--buttonHover);
  transform: scale(1.1);
}