.main {
    flex: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    flex : 0.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-top: 15px;
    align-items: center;
    height: 100%;
  }

  .ProjectDetail {
    flex: 0.7;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
    gap :30px;
  }

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
    }
    .navbar {
      width: 100%;

    }
    .sidebar{
      margin-left: 0;
    }
    .content {
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 30px;
      gap: 20px;
    }
  }
  
