.languageNav,
.visibleLanguageNav {
  position: absolute;
  transition: opacity 0.4s ease-in-out;
}

.languageNav {
  opacity: 0;
  pointer-events: none;
}

.visibleLanguageNav {
  opacity: 1;
  pointer-events: auto;
}

ul {
  margin-top: 10px;
  font-size: 0.8rem;
}

.menuItem,
.activeMenuItem {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  transition: all 0.3s ease;
  user-select: none;
}

.menuItem img,
.activeMenuItem img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  filter: brightness(0.5);
}

.activeMenuItem span {
  color: white;
  text-shadow: 0 0 5px var(--languageItemShadow),
    0 0 10px var(--languageItemShadow), 0 0 15px var(--languageItemShadow),
    0 0 20px var(--languageItemShadow), 0 0 25px var(--languageItemShadow),
    0 0 30px var(--languageItemShadow), 0 0 35px var(--languageItemShadow);
}

.activeMenuItem img {
  filter: brightness(1);
}

.menuItem:hover {
  color: var(--buttonHover);
  transform: scale(1.1);
}
