.languageNav,
.visibleLanguageNav {
  position: absolute;
  transition: opacity 0.3s ease-in-out;
}

.languageNav {
  opacity: 0;
  pointer-events: none;
}

.visibleLanguageNav {
  opacity: 1;
  pointer-events: auto;
}

ul {
  margin-top: 10px;
  font-size: 0.8rem;
}

.menuItem,
.activeMenuItem {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  transition: all 0.3s ease;
}

.menuItem img,
.activeMenuItem img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  filter: brightness(0.5);
}

.activeMenuItem span {
  color: #d1d1d1;
}

.activeMenuItem img {
  filter: brightness(1);
}

.menuItem:hover,
.activeMenuItem:hover {
  transform: scale(1.2);
}

.menuItem:hover span,
.activeMenuItem:hover span {
  text-decoration: underline;
}
