.projectDetailContainer {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 50px 0 50px;
  height: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.description {
  text-align: justify;
  line-height: 25px;
  user-select: none;
  color: var(--buttonHover);
}

.links,
.technologies {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 2px;
}

.technologies {
  margin-left: 20px;
  gap: 7px;
}
.grid{
  display: flex;
  place-items: center;

}
.title {
  margin: 20px 0 30px 0;
  user-select: none;
  font-size: 2.5rem;
  background-clip: text;
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
  color: #1d1d20;
  font-weight: 700;
  letter-spacing: calc(1em / 10);
  padding: calc(calc(1em / 16) / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 12);
  font-family: Poppins, sans-serif;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.1) translateZ(-1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

.zoomInEffect {
  animation: zoomIn 1.2s forwards;
}
