.projectDetailContainer {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    gap : 10px;
    margin-right: 50px;
  }
  
  .description {
    text-align: justify;
    line-height: 25px;
    user-select: none;
    color: var(--buttonHover);
  }
  
  .bottomRow {
    display: flex;
    justify-content: flex-start;
    gap : 10px;
  }