.projectDetailContainer {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 2rem 0 2rem;
  height: 100%;
  justify-content: center;
}

a {
  animation: animTextFlow 20s infinite alternate-reverse;
}

a:hover{
  text-decoration: underline;
}

@keyframes animTextFlow {
  0% {
    color: hsla(0, 60%, 60%, 1);
  }
  20% {
    color: hsla(60, 60%, 60%, 1);
  }
  40% {
    color: hsla(90, 60%, 60%, 1);
  }
  60% {
    color: rgb(109, 137, 252);
  }
  80% {
    color: hsla(270, 60%, 60%, 1);
  }
  100% {
    color: hsla(360, 60%, 60%, 1);
  }
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.description {
  text-align: justify;
  line-height: 25px;
  user-select: none;
  color: var(--buttonHover);
}

.links,
.technologies {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  list-style: none;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 2px;
}

.technologies {
  margin-left: 20px;
  gap: 7px;
}
.grid {
  display: flex;
  place-items: center;
}
.title {
  margin: 0 0 30px 0;
  user-select: none;
  font-size: 2.5rem;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #fed90f
  );
  color: #1d1d20;
  font-weight: 700;
  letter-spacing: calc(1em / 10);
  padding: calc(calc(1em / 16) / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 12);
  font-family: Poppins, sans-serif;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.1) translateZ(-1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }
}

.zoomInEffect {
  animation: zoomIn 1.2s forwards;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .technologies {
    margin-left: 0;
    flex-wrap: wrap;
  }

  .buttonsContainer {
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
  }

  .title {
    margin: 0;
    font-size: 2.2rem;
  }
}

@media (max-width: 768px) {
  .buttonsContainer {
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
  }

  .title {
    margin: 0;
    font-size: 2.2rem;
  }
  .projectDetailContainer {
    margin: 0 1rem 0 1rem;
  }

  .technologies {
    margin-left: 0;
    flex-wrap: wrap;
  }

  .links {
    gap: 25px;
  }
}
