.footer {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.footer span {
  font-size: 1rem;
  margin-right: 2rem;
  user-select: none;
  animation: animTextFlow 10s infinite alternate;
}

@keyframes animTextFlow {
  0% {
    color: hsla(0, 60%, 60%, 1);
  }
  20% {
    color: hsla(60, 60%, 60%, 1);
  }
  40% {
    color: hsla(90, 60%, 60%, 1);
  }
  60% {
    color: rgb(109, 137, 252);
  }
  80% {
    color: hsla(270, 60%, 60%, 1);
  }
  100% {
    color: hsla(360, 60%, 60%, 1);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer span {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .footer span {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}
