.footer {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer span {
  font-size: 0.9rem;
  align-self: flex-end;
  margin : 0 50px 20px 0;
  user-select: none;
}
