* {
  margin: 0;
  padding: 0;
}

:root {
  --buttonHover: #d1d1d1;
  --menuItemShadow :#e67e22;
  --languageItemShadow :#ffb6c1;
  --headerTextShadow : #1abc9c;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  background: #1d1d20;
  font-family: "Montserrat", sans-serif;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
}
